<div class="row-fluid">
  <div class="span12">
    <p>{{errorMsg}}</p>
    <p>Command View</p>
  </div><!--/span-->
</div><!--/row-->

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span12">
      <select ng-model="lowstate.client" class="input-small">
        <option value="local">local</option>
        <option value="wheel">wheel</option>
        <option value="runner">runner</option>
      </select>

      <input type="text" class="input-mini"
        placeholder="tgt"
        ng-model="lowstate.tgt">

      <input type="text" class="input-medium"
        placeholder="module.function"
        ng-model="lowstate.fun">

      <div class="input-append">
        <input type="text" class="input-medium"
          placeholder="arg=val"
          ng-repeat="arg in tmpArg track by $index"
          ng-model="lowstate.arg[$index]">

        <button class="btn" type="button"
          ng-click="addArg()"><i class="icon-plus"></i></button>
      </div>

      <button type="submit" class="btn btn-primary"
        ng-click="act()"
        data-class-disabled="vm.inprogress"
        data-disabled="vm.inprogress">
        <i class="icon-magic" data-class-icon-spin="vm.inprogress"></i>
        Execute
      </button>

      <ul>
        <li ng-repeat="(mid, ret) in ret track by $index">
          {{mid}}:<br>
          {{ret}}
        </li>
      </ul>

    </div>
  </div>
</div>
