<div class="row-fluid">
  <div class="span12">
    <div class="alert alert-error" ng-cloak ng-show="!!errorMsg">
      <strong>Error!</strong> {{errorMsg}}
    </div>
    <h1>About</h1>
    <p>Version:</p>
  </div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
  <div class="span12">
    <form name="prefForm" class="">
      <legend>Preferences</legend>
      <div class="controls controls-row" ng-repeat="(key, val) in prefs">
        <label class="control-label">{{key}}<bf/>
          <input type="text" placeholder="Enter {{key}}" ng-model="prefs[key]">
        </label>
      </div>
      <button class='btn btn-mini' href="" title="Update" 
        ng-click="updatePrefs()" >Update
      </button>
    </form>
    
  </div><!--/span-->
</div><!--/row-->





