
<div class="row-fluid">
  <div class="span12">

    <alert type="'error'" close="closeAlert()" ng-cloak ng-show="!!$parent.errorMsg">Error! {{errorMsg}}</alert>
  
    <form class="form-inline pull-left" style="margin: 0 0 0 0">
      <div class="btn-toolbar">
        
        <div class="btn-group">
          <div class="input-append">
            <input type="text" class="input-large" placeholder="Search Master" ng-model="searchTarget">
            <button class="btn" type="submit" ng-click="fetchMinions(searchTarget)"><i class="icon-refresh"></i></button>
          </div>
        </div>
        <div class="btn-group">
          <div class="input-append">
            <input type="text" class="input-medium" placeholder="Filter Minions" ng-model="filterTarget" ng-change="filterMinions(filterTarget)">
            <button class="btn" ng-click="filterMinions(filterTarget)"><i class="icon-filter"></i></button>
          </div>
        </div>

        <div class="btn-group">
          <button class="btn" ng-click="fetchPings()"><i class="icon-bullhorn"></i></button>
          <button class="btn" ng-click="fetchStatae()"><i class="icon-fire"></i></button>
        </div>
      </div>
    </form>
    
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
<h4>Minions</h4>
<div>

<!--<div class="container-fluid">-->
<div class="row-fluid">

  <div class="span12" >

  <div class="widget" ng-repeat="minion in minions.values() | filter:filterPattern | orderBy:sortMinions:reverse">
    <!-- Widget title -->
    <div class="widget-head" ng-init="collapsed=true" ng-click="collapsed = !collapsed">
      <div class="pull-left"><bold  style="font-size: larger">{{minion.get("grains").get("id")}}</bold></div>
      <div class="widget-icons pull-right">
        <span class="badge" ng-class="minion.get('ping') ? 'badge-success' : 'badge-important'"><i class="icon-bullhorn icon-white"></i></span>
        <a href="" ng-click="collapsed = !collapsed; $event.stopPropagation();"><i class="icon-chevron-up"></i></a> 
      </div>  
      <div class="clearfix"></div>
    </div>
    <div class="widget-content" collapse="collapsed">
      <!-- Widget content -->
      <tabset>
        <tab heading="Info">
          <div class="span4">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <td>id</td>
                <td>{{minion.get("grains").get("id")}}</td>
              </tr> 
              <tr>
                <td>host</td>
                <td>{{minion.get("grains").get("host")}}</td>
              </tr> 
              <tr>
                <td>domain</td>
                <td>{{minion.get("grains").get("domain")}}</td>
              </tr> 
              <tr>
                <td>fqdn</td>
                <td>{{minion.get("grains").get("fqdn")}}</td>
              </tr> 
              <tr>
                <td>nodename</td>
                <td>{{minion.get("grains").get("nodename")}}</td>
              </tr> 
              <tr>
                <td>localhost</td>
                <td>{{minion.get("grains").get("id")}}</td>
              </tr>    
              <tr>
                <td>server_id</td>
                <td>{{minion.get("grains").get("server_id")}}</td>
              </tr>
              <tr>
                <td>master</td>
                <td>{{minion.get("grains").get("master")}}</td>
              </tr> 
              <tr>
                <td>ipv4</td>
                <td>{{minion.get("grains").get("ipv4")[0]}}</td>
              </tr> 
            </table>
          </div>
          <div class="span4">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <td>saltversion</td>
                <td>{{minion.get("grains").get("saltversion")}}</td>
              </tr> 
              <tr>
                <td>pythonversion</td>
                <td>{{minion.get("grains").get("pythonversion").join(".")}}</td>
              </tr> 
              <tr>
                <td>shell</td>
                <td>{{minion.get("grains").get("shell")}}</td>
              </tr> 
              <tr>
                <td>defaultencoding</td>
                <td>{{minion.get("grains").get("defaultencoding")}}</td>
              </tr> 
              <tr>
                <td>defaultlanguage</td>
                <td>{{minion.get("grains").get("defaultlanguage")}}</td>
              </tr> 
              <tr>
                <td>os</td>
                <td>{{minion.get("grains").get("os")}}</td>
              </tr> 
              <tr>
                <td>os_family</td>
                <td>{{minion.get("grains").get("os_family")}}</td>
              </tr>    
              <tr>
                <td>kernel</td>
                <td>{{minion.get("grains").get("kernel")}}</td>
              </tr>
              <tr>
                <td>kernelrelease</td>
                <td>{{minion.get("grains").get("kernelrelease")}}</td>
              </tr> 
            </table>
          </div>
          <div class="span4">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <td>ps</td>
                <td>{{minion.get("grains").get("ps")}}</td>
              </tr> 
              <tr>
                <td>virtual</td>
                <td>{{minion.get("grains").get("virtual")}}</td>
              </tr> 
              <tr>
                <td>cpu_model</td>
                <td>{{minion.get("grains").get("cpu_model")}}</td>
              </tr> 
              <tr>
                <td>cpuarch</td>
                <td>{{minion.get("grains").get("cpuarch")}}</td>
              </tr> 
              <tr>
                <td>num_cpus</td>
                <td>{{minion.get("grains").get("num_cpus")}}</td>
              </tr> 
              <tr>
                <td>cpu_flags</td>
                <td>{{minion.get("grains").get("cpu_flags").join()}}</td>
              </tr>    
              <tr>
                <td>num_gpus</td>
                <td>{{minion.get("grains").get("num_gpus")}}</td>
              </tr>
              <tr>
                <td>gpus</td>
                <td>{{minion.get("grains").get("gpus").join()}}</td>
              </tr> 
              <tr>
                <td>mem_total</td>
                <td>{{minion.get("grains").get("mem_total")}}</td>
              </tr> 
            </table>
          </div>
        </tab>
        <tab heading="IP">
          <div class="span6">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr ng-repeat="key in minion.get('grains').get('ip_interfaces').keys">
                <td>{{key}}</td>
                <td>{{minion.get('grains').get('ip_interfaces').get(key).join(', ')}}</td>
              </tr> 
            </table>
          </div>
          <div class="span6">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr ng-repeat="ip in minion.get('grains').get('ipv4')">
                <td>ipv4 {{$index}}</td>
                <td>{{ip}}</td>
              </tr> 
            </table>
          </div>
        </tab>
        <tab heading="Path">
          <div class="span12">
            <table class="table table-striped table-bordered table-hover table-condensed">
              <tr>
                <td>path</td>
                <td>{{minion.get("grains").get("path")}}</td>
              </tr> 
              <tr>
                <td>saltpath</td>
                <td>{{minion.get("grains").get("saltpath")}}</td>
              </tr> 
              <tr>
                <td>pythonpath</td>
                <td>
                  <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr ng-repeat="path in minion.get('grains').get('pythonpath')">
                      <td>{{path}}</td>
                    </tr> 
                  </table>
                </td>
              </tr> 
              
            </table>
            
          </div>
        </tab>
        
      </tabset>

      <!--<div class="widget-foot">Salt Minion-->
      <!--</div>-->
      </div>
    </div>
  </div><!--/span-->
</div><!--/row-->
<!--</div>--><!--/container-->

