<div class="row">
  <div class="col-md-12">
    <div class="alert alert-error" ng-cloak ng-show="!!errorMsg">
      <strong>Error!</strong> {{errorMsg}}
    </div>
    <h3>About</h3>
    <p>Version: {{config.version}}</p>
    <p>Date: {{config.date}}</p>
    <p>Base Url: {{config.baseUrl}}</p>
  </div><!--/span-->
</div><!--/row-->


<ng-form name="prefForm" class="form-inline">
  <div class="row">
    <div class="col-md-12">
      <legend>Preferences</legend>
      <div ng-repeat="item in prefs.items()">
        <div ng-if="!isObject(item.val)">
          <div class="checkbox" ng-if="isBoolean(item.val)">
            <label>
              <input type="checkbox" placeholder="{{item.key}}" 
                  ng-model="item.val" ss-input-name="{{item.key}}">
                {{item.key}}
            </label>
          </div>
          <div class="form-group skinnish" ng-if="isNumber(item.val)">
            <label class="control-label" 
              for="'id'+item.key">{{item.key}}</label>
            <input type="number" class="form-control input-sm" id="'id'+item.key"
              placeholder="{{item.key}}" ng-model="item.val" 
              ss-input-name="{{item.key}}" ng-change="item.val=fixNumber(item.val)">
          </div>
          <div class="form-group skinnish" ng-if="!(isBoolean(item.val)||isNumber(item.val))">
            <label class="control-label" for="'id'+item.key" >{{item.key}}</label>
            <input type="text" class="form-control input-sm" id="'id'+item.key"
              placeholder="{{item.key}}" ng-model="item.val" ss-input-name="{{item.key}}">
          </div>
        </div>
        <div ng-if="isObject(item.val)" >
          <ng-form class="form-inline" 
              ss-form-name="{{item.key}}Form" ss-outer-form="prefForm">
            <p><strong>{{item.key}}</strong></p>
            <div>
              <span ng-repeat="item1 in item.val.items()">
                <div class="checkbox" ng-if="isBoolean(item1.val)">
                  <label>
                    <input type="checkbox"  placeholder="{{item1.key}}" 
                        ng-model="item1.val" ss-input-name="{{item1.key}}">
                      {{item.key+'.'+item1.key}}
                  </label>
                </div>
                <div class="form-group skinnish" ng-if="isNumber(item1.val)">
                  <label class="control-label" 
                    for="'id'+item.key+'.'+item1.key">{{item.key+'.'+item1.key}}</label>
                  <input type="number" class="form-control input-sm" id="'id'+item.key+'.'+item1.key"
                    placeholder="{{item1.key}}" ng-model="item1.val" 
                    ss-input-name="{{item1.key}}" ng-change="item1.val=fixNumber(item1.val)">
                </div>
                <div class="form-group skinnish" ng-if="!(isBoolean(item1.val)||isNumber(item1.val))">
                  <label class="control-label" 
                    for="'id'+item.key+'.'+item1.key">{{item.key+'.'+item1.key}}</label>
                  <input type="text" class="form-control input-sm" id="'id'+item.key+'.'+item1.key"
                    placeholder="{{item1.key}}" ng-model="item1.val" ss-input-name="{{item1.key}}">
                </div>
              </span>
            </div>
          </ng-form> <!-- inner form-->
        </div>        
      </div>
    </div><!--/col-->
  </div><!--/row-->

  <div class='row col-md-12'>
    <p></p>
    <div class="form-group">
      <button class="btn btn-default" ng-click="resetPrefs()">Reset</button>
      <button  class="btn btn-primary" type="submit" ng-click="updatePrefs()">Update</button>
    </div>
  </div>
</ng-form> <!-- outer form-->
