
<div class="row-fluid">
  <div class="span12">

    <alert type="'error'" close="closeAlert()" ng-cloak ng-show="!!$parent.errorMsg">Error! {{errorMsg}}</alert>
  
    <form class="form-inline box">
      <div class="btn-toolbar"> 
        <label>Command &nbsp;</label>
        <div class="btn-group">
          <div class="input-prepend">
            <div class="btn-group">
              <button class="btn" ng-click="fetchPings(searchTarget)" 
                title="Ping minions that match target">
                <i class="icon-bullhorn" 
                  ng-class="pinging?'fa-icon-spinner fa-icon-spin icon-blue':'icon-refresh';">
                </i>
              </button>
              <button class="btn dropdown-toggle">Action
                <b class="caret"></b>
              </button>
              <ul class="dropdown-menu">
                <li class="nav-header">State</li>
                <li><a ng-href="">highstate</a></li>
                <li><a ng-href="">show_highstate</a></li>
                <li><a ng-href="">running</a></li>
                <li class="divider"></li>
                <li class="nav-header">TBD</li>
                <li><a ng-href="">TBD</a></li>
                <li><a ng-href="">TBD</a></li>
              </ul>
            </div>
            <input type="text" class="input-large" placeholder="Enter target pattern" 
              ng-model="searchTarget" title="Minion search target pattern">
          </div>
        </div>
        
        <div class="btn-group">
          <button class="btn"  ng-init="collapsed=true" ng-click="collapsed = !collapsed"
            title="Execute lowstate command">
            <i class="icon-chevron-down" title="Click to toggle command form display" 
              ng-class="collapsed?'icon-chevron-down':'icon-chevron-up'"></i>
          </button>
          <button class="btn dropdown-toggle" 
            ng-class="command.size(command.history)==0?'disabled':''"
            title="Execute saved lowstate command">
            <i class="icon-book" 
              ng-class="historing?'fa-icon-spinner fa-icon-spin icon-blue':'icon-book';">
            </i>
            <b class="caret"></b>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="(name, cmd) in command.history track by $index">
              <a ng-href="" ng-click="action(cmd)" >
                {{name}}
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group pull-right">
          <button class="btn" ng-click="openEventStream()" 
            title="Open event stream">
            <i class="icon-magnet"
              ng-class="eventing?'fa-icon-spinner fa-icon-spin icon-blue':'icon-magnet';">
            </i>
          </button>
          <button class="btn" ng-click="fetchGrains(searchTarget)" 
            title="Fetch grains from minions that match target">
            <i class="icon-briefcase" 
              ng-class="graining?'fa-icon-spinner fa-icon-spin icon-blue':'icon-briefcase';">
            </i>
          </button>
          <button class="btn" ng-click="fetchActives()" 
            title="Fetch up/down status of all minions">
            <i class="icon-refresh" 
              ng-class="statusing?'fa-icon-spinner fa-icon-spin icon-blue':'icon-refresh';">
            </i>
          </button>
        </div>
      </div>
    </form> 
    <form class="form-inline box animate-fade" ng-submit="action()"  ng-show="!collapsed">
      <div class="controls" >
        <label class="control-label">Function<br/>
          <input type="text" class="input-large" placeholder="Enter module.function"
            ng-model="command.cmd.fun" title="Module function">
        </label>
        <label class="control-label">Target<br/>
          <input type="text" class="input-medium" placeholder="Enter minion target pattern"
            ng-model="command.cmd.tgt" title="Minion target pattern">
        </label>
        <label class="control-label">Arguments<br/>
          <div class="input-append">
            <input type="text" class="input-medium"
              placeholder="Enter argument"
              ng-repeat="arg in command.cmd.args track by $index"
              ng-model="command.cmd.args[$index]">
  
            <button class="btn" ng-class="command.cmd.args.length==1?'disabled':''" 
              type="button" title="Remove last argument"
              ng-click="command.delArg()"><i class="icon-minus"></i></button>
            <button class="btn " type="button" title="Add another argument"
              ng-click="command.addArg()"><i class="icon-plus"></i></button>
          </div>
        </label>
        <button class="btn" ng-click="action()">
          Execute <i class="icon-play" 
              ng-class="commanding?'fa-icon-spinner fa-icon-spin icon-blue':'icon-play';">
            </i>
        </button>
      </div>
    </form>
    
    <form class="form-inline box" >
      <div class="btn-toolbar">
        <label>Monitor &nbsp;</label>
        <div class="btn-group">
          <button type="button" class="btn" ng-model="monitorMode" btn-radio="'fun'">Fun</button>
          <button type="button" class="btn" ng-model="monitorMode" btn-radio="'job'">Job</button>
          <button type="button" class="btn" ng-model="monitorMode" btn-radio="'minion'">Minion</button>
          <button type="button" class="btn" ng-model="monitorMode" btn-radio="'event'">Event</button>
        </div>
        
        <label ng-show="monitorMode == 'minion'">&nbsp; Filter &nbsp;
          <div class="btn-group">
            <div class="input-append">
              <input type="text" class="input-large" placeholder="Enter filter string" 
                ng-model="filterage.target" ng-change="setFilterExpress()" title="Minon filter string">
              <div class="btn-group">
                <button class="btn dropdown-toggle leftmost" title="Select grain to filter against">
                  <i class="icon-filter"></i>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="grain in filterage.grains track by $index">
                    <a ng-href="" ng-click="setFilterGrain($index)" 
                      ng-class="filterage.grain==grain?'filter-active':''">
                      {{grain}}
                    </a>
                  </li>
                </ul>
                <button class="btn disabled" title="Filter against this grain">in {{filterage.grain}}
                </button>
              </div>
            </div>
          </div>
        </label>
        
        <label ng-show="monitorMode == 'minion'">&nbsp; Sort &nbsp;
          <div class="btn-group" >
            <button class="btn dropdown-toggle leftmost" title="Select grain to sort by against">
              <i class="icon-list"></i>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="target in sortage.targets track by $index">
                <a ng-href="" ng-click="setSortTarget($index)" 
                  ng-class="sortage.target==target?'filter-active':''">
                  {{target}}
                </a>
              </li>
            </ul>
            <button class="btn disabled" title="Sort by this trait">by {{sortage.target}}
            </button>
            <button class="btn" ng-click="sortage.reverse=!sortage.reverse" title="Reverse sort">
              <i ng-class="sortage.reverse?'icon-arrow-up':'icon-arrow-down'"></i>
            </button>
          </div>
        </label>
      </div>
    </form>
  </div><!--/span-->
</div><!--/row-->


<!--<div class="container-fluid">-->
<div class="row-fluid" style="margin: 5px 0px 0px 0px" ng-show="monitorMode == 'minion'">
  <div class="span12" >
    <div class="slat" ng-repeat="minion in minions.items() | filter:filterage.express | orderBy:sortMinions:sortage.reverse">
      <div class="slat-head" ng-init="collapsed=true" ng-click="collapsed = !collapsed" 
        title="Click to toggle grains display">
        <span class="label pull-left" title="Minion Id: Green=grains, Orange=no grains" 
          ng-class="minion.val.get('grains')?'label-info':'label-warning'">
          <bold  style="font-size: larger">{{minion.key}}</bold>
        </span>
        <div class="pull-right">
          <span class="badge" title="Latest active status: Green=up, Red=down"
            ng-class="minion.val.get('active')?'badge-success':'badge-important'">
            <i class="icon-fire icon-white"></i>
          </span>
          <a href="" ng-click="collapsed = !collapsed; $event.stopPropagation();">
            <i class="icon-chevron-down" title="Click to toggle grains disoplay" 
              ng-class="collapsed?'icon-chevron-down':'icon-chevron-up'"></i>
          </a> 
        </div>  
        <div class="clearfix"></div>
      </div>
      <div class="slat-body animate-fade" ng-show="!collapsed">
        <tabset>
          <tab heading="Info">
            <div class="span4">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                  <td>id</td>
                  <td>{{minion.val.get("grains").get("id")}}</td>
                </tr> 
                <tr>
                  <td>host</td>
                  <td>{{minion.val.get("grains").get("host")}}</td>
                </tr> 
                <tr>
                  <td>domain</td>
                  <td>{{minion.val.get("grains").get("domain")}}</td>
                </tr> 
                <tr>
                  <td>fqdn</td>
                  <td>{{minion.val.get("grains").get("fqdn")}}</td>
                </tr> 
                <tr>
                  <td>nodename</td>
                  <td>{{minion.val.get("grains").get("nodename")}}</td>
                </tr> 
                <tr>
                  <td>localhost</td>
                  <td>{{minion.val.get("grains").get("id")}}</td>
                </tr>    
                <tr>
                  <td>server_id</td>
                  <td>{{minion.val.get("grains").get("server_id")}}</td>
                </tr>
                <tr>
                  <td>master</td>
                  <td>{{minion.val.get("grains").get("master")}}</td>
                </tr> 
                <tr>
                  <td>ipv4</td>
                  <td>{{minion.val.get("grains").get("ipv4")[0]}}</td>
                </tr> 
              </table>
            </div>
            <div class="span4">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                  <td>saltversion</td>
                  <td>{{minion.val.get("grains").get("saltversion")}}</td>
                </tr> 
                <tr>
                  <td>pythonversion</td>
                  <td>{{minion.val.get("grains").get("pythonversion").join(".")}}</td>
                </tr> 
                <tr>
                  <td>shell</td>
                  <td>{{minion.val.get("grains").get("shell")}}</td>
                </tr> 
                <tr>
                  <td>defaultencoding</td>
                  <td>{{minion.val.get("grains").get("defaultencoding")}}</td>
                </tr> 
                <tr>
                  <td>defaultlanguage</td>
                  <td>{{minion.val.get("grains").get("defaultlanguage")}}</td>
                </tr> 
                <tr>
                  <td>os</td>
                  <td>{{minion.val.get("grains").get("os")}}</td>
                </tr> 
                <tr>
                  <td>os_family</td>
                  <td>{{minion.val.get("grains").get("os_family")}}</td>
                </tr>    
                <tr>
                  <td>kernel</td>
                  <td>{{minion.val.get("grains").get("kernel")}}</td>
                </tr>
                <tr>
                  <td>kernelrelease</td>
                  <td>{{minion.val.get("grains").get("kernelrelease")}}</td>
                </tr> 
              </table>
            </div>
            <div class="span4">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                  <td>ps</td>
                  <td>{{minion.val.get("grains").get("ps")}}</td>
                </tr> 
                <tr>
                  <td>virtual</td>
                  <td>{{minion.val.get("grains").get("virtual")}}</td>
                </tr> 
                <tr>
                  <td>cpu_model</td>
                  <td>{{minion.val.get("grains").get("cpu_model")}}</td>
                </tr> 
                <tr>
                  <td>cpuarch</td>
                  <td>{{minion.val.get("grains").get("cpuarch")}}</td>
                </tr> 
                <tr>
                  <td>num_cpus</td>
                  <td>{{minion.val.get("grains").get("num_cpus")}}</td>
                </tr> 
                <tr>
                  <td>cpu_flags</td>
                  <td>{{minion.val.get("grains").get("cpu_flags").join()}}</td>
                </tr>    
                <tr>
                  <td>num_gpus</td>
                  <td>{{minion.val.get("grains").get("num_gpus")}}</td>
                </tr>
                <tr>
                  <td>gpus</td>
                  <td>{{minion.val.get("grains").get("gpus").join()}}</td>
                </tr> 
                <tr>
                  <td>mem_total</td>
                  <td>{{minion.val.get("grains").get("mem_total")}}</td>
                </tr> 
              </table>
            </div>
          </tab>
          <tab heading="IP">
            <div class="span6">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr ng-repeat="ip in minion.val.get('grains').get('ip_interfaces').items()">
                  <td>{{ip.key}}</td>
                  <td>{{ip.val.join(', ')}}</td>
                </tr> 
              </table>
            </div>
            <div class="span6">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr ng-repeat="ip in minion.val.get('grains').get('ipv4')">
                  <td>ipv4 {{$index}}</td>
                  <td>{{ip}}</td>
                </tr> 
              </table>
            </div>
          </tab>
          <tab heading="Path">
            <div class="span12">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                  <td>path</td>
                  <td>{{minion.val.get("grains").get("path")}}</td>
                </tr> 
                <tr>
                  <td>saltpath</td>
                  <td>{{minion.val.get("grains").get("saltpath")}}</td>
                </tr> 
                <tr>
                  <td>pythonpath</td>
                  <td>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                      <tr ng-repeat="path in minion.val.get('grains').get('pythonpath')">
                        <td>{{path}}</td>
                      </tr> 
                    </table>
                  </td>
                </tr> 
                
              </table>
              
            </div>
          </tab>
          <tab heading="Event">
            <div class="span12">
              <p class="lead">Events</p>
            </div>
          </tab>
          <tab heading="Command">
            <div class="span12">
              <p class="lead">Commands</p>
            </div>
          </tab>
          
        </tabset>
      </div><!--/slat-body-->
    </div> <!--/slat-->
  </div><!--/span-->
</div><!--/row-->
<!--</div>--><!--/container-->

<!--<div class="container-fluid">-->
<div class="row-fluid" ng-show="monitorMode == 'job'">
  <div class="span12" >
    <div class="slat" ng-repeat="job in jobs.items() | orderBy:sortJobs:reverse">
      <div class="slat-head" ng-init="collapsed=true" ng-click="collapsed = !collapsed" 
        title="Click to toggle results display">
        <span class="label pull-left" title="Job Id: Green=done, Blue=not yet done" 
          ng-class="job.val.get('done')?'':'label-info'">
          <bold  style="font-size: larger">{{job.key}}</bold>
        </span>
        <span title="Module function">&nbsp;&nbsp;{{job.val.get('fun')}}</span>
        <div class="pull-right">
          <span class="badge" title="Failure status: Green=success, Red=fail"
            ng-class="job.val.get('fail')?'badge-important':'badge-success'">
            <i class="icon-certificate icon-white"></i>
          </span>
          <a href="" ng-click="collapsed = !collapsed; $event.stopPropagation();">
            <i class="icon-chevron-down" title="Click to toggle results disoplay" 
              ng-class="collapsed?'icon-chevron-down':'icon-chevron-up'"></i>
          </a> 
        </div>  
        <div class="clearfix"></div>
      </div>
      <div class="slat-body" ng-show="!collapsed">
        <tabset>
          <tab heading="Result">
            <div class="span12" ng-if="job.val.get('results')">
              <dl class="dl-horizontal" ng-repeat="result in job.val.get('results').items()">
                <dt>{{result.key}}</dt>
                <dd>
                  <span ng-repeat="key in resultKeys">{{key}}: {{result.val[key]}}, </span>
                  <span ng-if="result.val.error">error: {{result.val.error}}</span>
                  <span ng-if="result.val.return">return: {{result.val.return | json}}</span>
                </dd>
              </dl>
            </div>
            <div class="span12" ng-if="job.val.get('return')">
              <dl class="dl-horizontal">
                <dt>{{job.val.get('fun')}}</dt>
                <dd>
                  <span>done: {{job.val.get('done')}}, fail: {{job.val.get('fail')}}, success: {{job.val.get('success')}}</span>
                  <span ng-if="job.val.get('errors')">error: {{job.val.get('errors')[0]}}</span>
                  <span ng-if="job.val.get('return')">return: {{job.val.get('return') | json}}</span>
                </dd>
              </dl>
            </div>
          </tab>
          <tab heading="Fun">
            <div class="span12">
              <p class="lead">Module Funtion Details</p>
            </div>
          </tab>
          <tab heading="Event">
            <div class="span12">
              <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                  <th>tag</th>
                  <th>data</th>
                </tr> 
                <tr ng-repeat="event in job.val.get('events').values()">
                  <td>{{event.tag}}</td>
                  <td>{{event.data | json}}</td>
                </tr> 
              </table>
            </div>
          </tab>
        </tabset>
      </div><!--/slat-body-->
    </div> <!--/slat-->
  </div><!--/span-->
</div><!--/row-->
<!--</div>--><!--/container-->
