

<div class="row-fluid">
  <div class="span12">
    <alert type="'error'" close="closeAlert()" ng-cloak ng-show="!!$parent.errorMsg">Error! {{errorMsg}}</alert>
    <div class="box">
      <form class="form-inline tight">
        <div class="btn-toolbar tight wide"> 
          <label>Command &nbsp;</label>
          <div class="btn-group">
            <div class="input-prepend">
              <div class="btn-group">
                <button class="btn" ng-click="ply(actions.Test.ping)" 
                  title="Ping minions that match target">
                  <i class="fa-icon-bullhorn" 
                    ng-class="pinging?'fa-icon-spinner fa-icon-spin icon-blue':'fa-icon-bullhorn';">
                  </i>
                </button>
                <button class="btn dropdown-toggle">Action
                  <b class="caret"></b>
                </button>
                <ul class="dropdown-menu">
                  <li class="nav-header">State</li>
                  <li ng-repeat="(name, cmd) in actions.State track by $index">
                    <a ng-href="" ng-click="ply(cmd)">{{name}}</a>
                  </li>
                  <li class="divider"></li>
                  <li class="nav-header">Test</li>
                  <li ng-repeat="(name, cmd) in actions.Test track by $index">
                    <a ng-href="" ng-click="ply(cmd)">{{name}}</a>
                  </li>
                </ul>
              </div>
              <input type="text" class="input-large" placeholder="Enter target pattern" 
                ng-model="commandTarget" title="Minion command target pattern">
            </div>
          </div>
          
          <div class="btn-group">
            <button class="btn dropdown-toggle leftmost" 
              ng-disabled="command.size(command.history)==0"
              title="Execute saved lowstate command">
              <i class="fa-icon-book" 
                ng-class="commanding?'fa-icon-spinner fa-icon-spin icon-blue':'fa-icon-book';">
              </i>
              <b class="caret"></b>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="(name, cmds) in command.history track by $index">
                <a ng-href="" ng-click="action(cmds)">{{name}}</a>
              </li>
            </ul>
            <button class="btn rightmost"  ng-init="collapsed=true" ng-click="collapsed = !collapsed"
              title="Execute salt command">
              <i class="fa-icon-chevron-down icon-black" title="Click to toggle command form display" 
                ng-class="collapsed?'fa-icon-chevron-down':'fa-icon-chevron-up'"></i>
            </button>
          </div>
          <div class="btn-group pull-right">
            <button class="btn" ng-click="openEventStream()" 
              title="Open event stream">
              <i class="fa-icon-rss"
                ng-class="eventing?'fa-icon-spinner fa-icon-spin icon-blue':'fa-icon-rss';">
              </i>
            </button>
            <button class="btn" ng-click="fetchGrains()" 
              title="Fetch grains from all minions">
              <i class="fa-icon-briefcase" 
                ng-class="graining?'fa-icon-spinner fa-icon-spin icon-blue':'fa-icon-briefcase';">
              </i>
            </button>
            <button class="btn" ng-click="fetchActives()" 
              title="Fetch up/down status of all minions">
              <i class="fa-icon-refresh" 
                ng-class="statusing?'fa-icon-spinner fa-icon-spin icon-blue':'fa-icon-refresh';">
              </i>
            </button>
          </div>
        </div>
      </form> 
      <form class="form-inline tight animate-fade" name="commandForm" ng-show="!collapsed" ng-cloak>
        <div class="controls" >
          <label class="control-label">Function<br/>
            <input type="text" class="input-large" placeholder="Enter module.function"
              ng-model="command.cmd.fun" title="Module function" required>
          </label>
          <label class="control-label">Target<br/>
            <input type="text" class="input-medium" placeholder="Enter minion target pattern"
              ng-model="command.cmd.tgt" title="Minion target pattern">
          </label>
          <label class="control-label">Arguments<br/>
            <div class="input-append">
              <input type="text" class="input-medium"
                placeholder="Enter argument"
                ng-repeat="arg in command.cmd.arg track by $index"
                ng-model="command.cmd.arg[$index]">
    
              <button class="btn" ng-class="command.cmd.arg.length==1?'disabled':''" 
                type="button" title="Remove last argument"
                ng-click="command.delArg()"><i class="fa-icon-minus"></i></button>
              <button class="btn " type="button" title="Add another argument"
                ng-click="command.addArg()"><i class="fa-icon-plus"></i></button>
            </div>
          </label>
          <button class="btn" type="submit" ng-click="action()" ng-disabled="commandForm.$invalid">
            <i class="fa-icon-play" 
                ng-class="commanding?'fa-icon-spinner fa-icon-spin icon-blue':'fa-icon-play';">
              </i>Execute 
          </button>
        </div>
      </form>
    </div>
    <div class="box">
      <form class="form-inline tight" name="monitorForm">
        <div class="btn-toolbar tight wide">
          <label>Monitor &nbsp;</label>
          <div class="btn-group">
            <button type="button" class="btn" ng-model="monitorMode" 
              ss-toggle-union="'command'">Command<i class="icon-mono" 
                  ng-class="monitorMode=='command' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
            </button>
            <button type="button" class="btn" ng-model="monitorMode" 
              ss-toggle-union="'job'">Job<i class="icon-mono"
                ng-class="monitorMode=='job' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
            </button>
            <button type="button" class="btn" ng-model="monitorMode" 
              ss-toggle-union="'minion'">Minion<i class="icon-mono"
                ng-class="monitorMode=='minion' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
            </button>
            <button type="button" class="btn" ng-model="monitorMode" 
              ss-toggle-union="'event'">Event<i class="icon-mono"
                ng-class="monitorMode=='event' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
            </button>
          </div>
          
          <label ng-show="monitorMode == 'minion'">&nbsp; Filter &nbsp;
            <div class="btn-group">
              <div class="input-append">
                <input type="text" class="input-large" placeholder="Enter filter string" 
                  ng-model="filterage.target" ng-change="setFilterExpress()" title="Minon filter string">
                <div class="btn-group">
                  <button class="btn dropdown-toggle leftmost" title="Select grain to filter against">
                    <i class="fa-icon-filter"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="grain in filterage.grains track by $index">
                      <a ng-href="" ng-click="setFilterGrain($index)" 
                        ng-class="filterage.grain==grain?'filter-active':''">
                        {{grain}}
                      </a>
                    </li>
                  </ul>
                  <button class="btn disabled" title="Filter against this grain">in {{filterage.grain}}
                  </button>
                </div>
              </div>
            </div>
          </label>
          
          <label ng-show="monitorMode == 'minion'">&nbsp; Sort &nbsp;
            <div class="btn-group" >
              <button class="btn dropdown-toggle leftmost" title="Select grain to sort by against">
                <i class="fa-icon-list"></i>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="target in sortage.targets track by $index">
                  <a ng-href="" ng-click="setSortTarget($index)" 
                    ng-class="sortage.target==target?'filter-active':''">
                    {{target}}
                  </a>
                </li>
              </ul>
              <button class="btn disabled" title="Sort by this trait">by {{sortage.target}}
              </button>
              <button class="btn" ng-click="sortage.reverse=!sortage.reverse" title="Reverse sort">
                <i ng-class="sortage.reverse?'fa-icon-arrow-up':'fa-icon-arrow-down'"></i>
              </button>
            </div>
          </label>
        </div>
      </form><!--monitorForm-->
    </div> <!--/box-->
  </div><!--/span-->
</div><!--/row-->
      
    </div><!--box-->
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid" ng-show="monitorMode == 'command'">
  <div class="span12 box wide" >
    <div class="box no-border" ng-repeat="command in commands.values() | orderBy:sortCommands:commandReverse">
      <div class="pull-left">
        <span class="pull-left" title="Command Function. Click to run again.">
          <button class="btn btn-small" 
            ng-click="ply(command.cmds); $event.stopPropagation();">{{command.name}}
          </button>
        </span>
        <span class="btn-group">
          <button type="button" class="btn btn-small"  ng-model="commandMode" 
              ss-toggle-union="'job'">
            <i class="icon-mono" 
                ng-class="commandMode=='job' ? 'fa-icon-caret-down':'fa-icon-caret-right'">
            </i>
          </button>
        </span>
      </div>
      <div class="clearfix"></div>
      <div class="box top-border bottom-border animate-fade" ng-show="commandMode">
        <div class="span12" ng-if="commandMode == 'job'">
          <div ng-repeat="job in command.jobs.values() | orderBy:sortJobs:jobReverse">
            <span class="badge" title="Failure status: Green=success, Red=fail"
                ng-class="job.fail?'badge-important':'badge-success'">
              <i class="fa-icon-certificate icon-white"></i>
            </span>
            <span class="label" title="Job Id: Black=done, Blue=not yet done" 
                ng-class="job.done?'label-inverse':'label-info'">
              <span class="larger-font-size">{{job.jid}}</span>
            </span>
            <span title="Module function">&nbsp;&nbsp;{{job.name}}</span>
          </div>  
        </div>
        <div class="clearfix"></div>
      </div><!--/box-->
    </div> <!--/box-->
  </div><!--/span box-->
</div><!--/row-->

<div class="row-fluid" ng-show="monitorMode == 'job'">
  <div class="span12 box wide" >
    <div class="box no-border" ng-repeat="job in jobs.values() | orderBy:sortJobs:jobReverse">
      <div class="pull-left">
        <span class="badge" title="Failure status: Green=success, Red=fail"
            ng-class="job.fail?'badge-important':'badge-success'">
            <i class="fa-icon-certificate icon-white"></i>
        </span>
        <span class="label" title="Job Id: Black=done, Blue=not yet done" 
          ng-class="job.done?'label-inverse':'label-info'">
          <span  class="larger-font-size">{{job.jid}}</span>
        </span>&nbsp;
        <span class="label label-inverse" title="Module function">
          <span  class="larger-font-size">{{job.name}}</span>
        </span>
        <span class="btn-group">
          <button type="button" class="btn btn-small"  ng-model="jobMode" 
            ss-toggle-union="'result'">Result<i class="icon-mono" 
                ng-class="jobMode=='result' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
          </button>
          <button type="button" class="btn btn-small" ng-model="jobMode" 
            ss-toggle-union="'event'">Event<i class="icon-mono" 
              ng-class="jobMode=='event' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
          </button>
        </span>
      </div>
      <div class="clearfix"></div>
      <div class="box top-border bottom-border animate-fade" ng-show="jobMode">
        <div class="span12 " ng-if="jobMode == 'result'">
          <kvl ng-repeat="result in job.results.values()">
            <kvi>
              <span class="label" ng-class="result.done?'':'label-info'">
                {{result.id}}
              </span>
              <span class="badge" ng-class="result.fail?'badge-important':'badge-success'">
                <i ng-if="result.retcode == null" class="fa-icon-certificate icon-white"></i>
                <b ng-if="result.retcode != null">{{result.retcode}}</b>
              </span>
              <span ng-repeat="ensual in result.results()" 
                ng-include="'ensual_nested.html'">
              </span>
            </kvi>
          </kvl>
        </div>
        <div class="clearfix"></div>
        <div class="span12" ng-if="jobMode == 'event'">
          <kvl ng-repeat="event in job.events.values().reverse()">
            <kvi>
              <span>{{event.tag}}</span>
              <span ng-repeat="ensual in ensuals(event.data)" 
                ng-include="'ensual_nested.html'">
              </span>
            </kvi>
          </kvl>
        </div>
        <div class="clearfix"></div>
      </div><!--/box-->
    </div> <!--/box-->
  </div><!--/span box-->
</div><!--/row-->

<div class="row-fluid"  ng-show="monitorMode == 'minion'">
  <div class="span12 box wide">
    <div class="box no-border" ng-repeat="minion in minions.values() | filter:filterage.express | orderBy:sortMinions:sortage.reverse">
      <div class="pull-left">
        <span class="badge" title="Latest active status: Green=up, Red=down"
            ng-class="minion.active?'badge-success':'badge-important'">
            <i class="fa-icon-fire icon-white"></i>
        </span>
        <span class="label" title="Minion Id: Blue=grains, Orange=no grains" 
          ng-class="minion.grains.keys().length?'label-info':'label-warning'">
          <span class="larger-font-size">{{minion.id}}</span>
        </span>
        <span class="btn-group">
          <button type="button" class="btn btn-small"  ng-model="minionMode" 
            ss-toggle-union="'grain'">Grain<i class="icon-mono" 
                ng-class="minionMode=='grain' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
          </button>
          <button type="button" class="btn btn-small" ng-model="minionMode" 
            ss-toggle-union="'event'">Event<i class="icon-mono" 
              ng-class="minionMode=='event' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
          </button>
          <button type="button" class="btn btn-small" ng-model="minionMode" 
            ss-toggle-union="'command'">Command<i class="icon-mono"
              ng-class="minionMode=='command' ? 'fa-icon-caret-down':'fa-icon-caret-right'"></i>
          </button>
        </span>
      </div>
      <div class="clearfix"></div>
      <div class="box top-border bottom-border animate-fade " ng-show="minionMode">
        <div class="span12 " ng-if="minionMode == 'grain'">
          <kvl ng-repeat="grain in minion.grains.items()">
            <kvi>
              <span><b><i>{{grain.key}}: </i></b></span>
              <span ng-repeat="ensual in ensuals(grain.val)" 
                ng-include="'ensual_nested.html'">
              </span>
            </kvi>
          </kvl>
          <p ng-if="minion.grains.keys().length==0">No grains</p>
        </div>
        
        <div class="span12" ng-if="minionMode == 'event'">
          <kvl ng-repeat="event in minion.events.values().reverse()">
            <kvi>
              <span>{{event.tag}}</span>
              <span ng-repeat="ensual in ensuals(event.data)" 
                ng-include="'ensual_nested.html'">
              </span>
            </kvi>
          </kvl>
          <p ng-if="minion.events.keys().length==0">No minion events</p>
        </div>

        <div class="span12 animate-fade " ng-if="minionMode == 'command'">
          <p>Not implemented yet</p>
        </div>
        <div class="clearfix"></div>
      </div><!--collapsed-->
    </div> <!--/box repeated-->
  </div><!--/span box-->
</div><!--/row-->


<div class="row-fluid" ng-show="monitorMode == 'event'">
  <div class="span12 box wide" >
    <div class="box no-border" ng-repeat="event in events.values().reverse()">
      <div class="pull-left">
        <span title="Event Tag">{{event.tag}}</span>&nbsp;
        <span class="label label-inverse" title="Module function" 
            ng-show="humanize(event.data)">
          <span class="larger-font-size">{{humanize(event.data)}}</span>
        </span>&nbsp;
        <i class="btn btn-small icon-mono" 
          ng-init="expanded={'value': false}" 
          ng-class="expanded.value?'fa-icon-caret-down':'fa-icon-caret-right'"
          ng-click="expanded.value = !expanded.value; $event.stopPropagation();">
        </i>
      </div>
      <div class="clearfix"></div>
      <div class="box top-border bottom-border" ng-if="expanded.value">
        <div class="span12">
          <kvl>
            <kvi>
              <span ng-repeat="ensual in ensuals(event.data)" 
                ng-include="'ensual_nested_list.html'">
              </span>
            </kvi>
          </kvl>
        </div>
        <div class="clearfix"></div>
      </div><!--/box-->
    </div> <!--/box-->
  </div><!--/span box-->
</div><!--/row-->



<script type="text/ng-template" id="ensual_nested.html">
  <span ng-switch on="expandMode(ensual)">
    <span ng-switch-when="lone" >
      <n>{{ensual}}</n>
    </span>
    <span ng-switch-when="vect" >[
      <span ng-repeat="value in ensual track by $index">
        <n>{{value}}{{!$last ? " ," : ""}}</n>
      </span>]
    </span>
    <span ng-switch-when="list"> 
      <i class="btn btn-small icon-mono" ng-class="expanded.value?'fa-icon-caret-down':'fa-icon-caret-right'"
        ng-init="expanded={'value': false}" ng-click="expanded.value = !expanded.value">
      </i>
      <kvl class="indent tight" ng-if="expanded.value">[
        <kvi ng-repeat="ensual in ensual track by $index">
          <span ng-include="'ensual_nested_list.html'"></span>{{!$last?",":""}}
        </kvi>
        ]
      </kvl>
    </span>
    <span ng-switch-when="dict" >
      <i class="btn btn-small icon-mono" ng-class="expanded.value?'fa-icon-caret-down':'fa-icon-caret-right'"
        ng-init="expanded={'value': false}" ng-click="expanded.value = !expanded.value">
      </i>
      <kvl class="indent" ng-if="expanded.value">
        <kvi ng-repeat="(key, ensual) in ensual track by $index">
          <b><i>{{key}}: </i></b>
          <span ng-include="'ensual_nested.html'"></span>
        </kvi>
      </kvl>
    </span>
    <span ng-switch-default>Whoops</span>
  </span>
</script>

<script type="text/ng-template" id="ensual_nested_list.html">
  <span ng-switch on="expandMode(ensual)">
    <span ng-switch-when="lone" >
      <n>{{ensual}}</n>
    </span>
    <span ng-switch-when="vect">[
      <span ng-repeat="value in ensual track by $index">
        <n>{{value}}{{!$last ? " ," : ""}}</n>
      </span>]
    </span>
    <span ng-switch-when="list">
      <kvl class="indent tight" ng-if="expanded.value">[
        <kvi ng-repeat="ensual in ensual track by $index">
          <span ng-include="'ensual_nested_list.html'"></span>{{!$last?",":""}}
        </kvi>
        ]
      </kvl>
    </span>
    <span ng-switch-when="dict">
      <kvl class="indent tight" ng-if="expanded.value">
        <kvi ng-repeat="(key, ensual) in ensual track by $index">
          <b><i>{{key}}: </i></b>
          <span ng-include="'ensual_nested.html'"></span>
        </kvi>
      </kvl>
    </span>
    <span ng-switch-default>Whoops</span>
  </span>
</script>
