
<div class="row-fluid">
  <div class="span12">
    
    <alert type="'error'" close="closeAlert()" ng-cloak ng-show="!!$parent.errorMsg">Error! {{errorMsg}}</alert>
    
    <form class="form-inline pull-left" style="margin: 0 0 0 0">
      <div class="btn-toolbar">
        <div class="btn-group">
          <div class="input-append">
            <input type="text" class="input-large" placeholder="Search Master" ng-model="searchTarget">
            <button class="btn" type="submit" ng-click="fetchMinions(searchTarget)"><i class="icon-refresh"></i></button>
          </div>
        </div>
        <div class="btn-group">
          <div class="input-append">
            <input type="text" class="input-medium" placeholder="Filter Minions" ng-model="filterTarget" ng-change="filterMinions(filterTarget)">
            <button class="btn" ng-click="filterMinions(filterTarget)"><i class="icon-filter"></i></button>
          </div>
        </div>
        
        <div class="btn-group">
          <button class="btn" ng-click="fetchPings()"><i class="icon-bullhorn"></i></button>
          <button class="btn" ng-click="testStuff()"><i class="icon-fire"></i></button>
        </div>
      </div>
    </form>
  </div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
<h4>Minions</h4>
<div>

<!--<div class="container-fluid">-->
  <div class="row-fluid">

    <div class="span12" >

      <div class="widget" ng-repeat="minion in minions.values() | filter:filterPattern | orderBy:sortMinions:reverse">
        <!-- Widget title -->
        <div class="widget-head" ng-init="collapsed=true" ng-click="collapsed = !collapsed">
          <div class="pull-left"><bold  style="font-size: larger">{{minion.get("grains").get("id")}}</bold></div>
          <div class="widget-icons pull-right">
            <a href="" ng-click="collapsed = !collapsed; $event.stopPropagation();"><i class="icon-chevron-up"></i></a> 
          </div>  
          <div class="clearfix"></div>
        </div>
        <div class="widget-content" collapse="collapsed">
          <!-- Widget content -->
          <tabset>
            <tab heading="Tab 1">
              <div class="span4" >
                <table class="table table-striped table-bordered table-hover table-condensed" >
                  <tr>
                    <td>Domain</td>
                    <td>sitedomain.com</td>
                  </tr> 
                  <tr>
                    <td>IP Address</td>
                    <td>192.425.2.4</td>
                  </tr> 
                  <tr>
                    <td>Disk Space</td>
                    <td>600GB / 60000GB</td>
                  </tr> 
                  <tr>
                    <td>Bandwidth</td>
                    <td>1000GB / 2000GB</td>
                  </tr> 
                  <tr>
                    <td>PHP Version</td>
                    <td>5.1.1</td>
                  </tr> 
                  <tr>
                    <td>MySQL Databases</td>
                    <td>10</td>
                  </tr>                                                                                                     
                </table>
              </div>
              <div class="span4">
                <table class="table table-striped table-bordered table-hover table-condensed">
                  <tr>
                    <td>Domain</td>
                    <td>sitedomain.com</td>
                  </tr> 
                  <tr>
                    <td>IP Address</td>
                    <td>192.425.2.4</td>
                  </tr> 
                  <tr>
                    <td>Disk Space</td>
                    <td>600GB / 60000GB</td>
                  </tr> 
                  <tr>
                    <td>Bandwidth</td>
                    <td>1000GB / 2000GB</td>
                  </tr> 
                  <tr>
                    <td>PHP Version</td>
                    <td>5.1.1</td>
                  </tr> 
                  <tr>
                    <td>MySQL Databases</td>
                    <td>10</td>
                  </tr>                                                                                                     
                </table>
              </div>
            </tab>
            <tab heading="Tab 2">
              <div class="span4">
                <table class="table table-striped table-bordered table-hover table-condensed">
                  <tr>
                    <td>Who</td>
                    <td>Salt</td>
                  </tr> 
                  <tr>
                    <td>What</td>
                    <td>Configuration</td>
                  </tr> 
                  <tr>
                    <td>Where</td>
                    <td>Server</td>
                  </tr> 
                  <tr>
                    <td>How</td>
                    <td>Quickly</td>
                  </tr> 
                  <tr>
                    <td>When</td>
                    <td>Now</td>
                  </tr>                                                                                                 
                </table>
              </div>
            </tab>
            <tab heading="Tab 3">
              <div class="span4"><p class="text-center">Content 3</p></div>
            </tab>
          </tabset>
          
          <!--<div class="widget-foot">Salt Minion-->
          <!--</div>-->
        </div>
      </div>
    </div><!--/span-->
  </div><!--/row-->
<!--</div>--><!--/container-->



<!--ng-repeat="order in orders | filter:orderQuery | orderBy:sortField:reverse"-->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="12">
      <div ng-repeat="minion in minions.values() | filter:filterPattern | orderBy:sortMinions:reverse">
        <span>Name: {{minion.get("grains").get("id")}}.{{minion.get("grains").get("fqdn")}}</span>
        <span>SaltVersion: {{minion.get("grains").get("saltversion")}}</span>
        <span>Ping: {{minion.get("ping")}}</span>
      </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
