.displayed-in-center {
  position: relative;
  left: 50%;
}
#leftMarginAdded {
  margin-left: 44px;
}
#idModuleFunction, #idFunctionTarget {
  height: 35px;
}
.monitorControls > i {
  cursor: pointer;
  border: 1px;
}
.monitorHeader {
  height: 25px;
}
#right-border-styled {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
div.progress {
    position: relative;
    margin-bottom: 0px;
    width: 70px;
    display: inline-block;
}
kvl div.progress {
    bottom: -6px;
}
div.height-controlled {
    height: 20px;
}
/* make sure search docs form group is displayed correctly */
div#table-display {
  display: inline-table;
}
/* fix up display to not use table*/
.input-group.input-group-fix {
  display: inline-block;
}

/* fixup rightmost child in btn-group to the left of input */
.btn-group-left > .btn:last-child {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px !important;
  margin-right: -4px !important;
}

/* fixup leftmost child in btn-group to the right of input */
.btn-group-right > .btn:first-child {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left: 0px !important;
  margin-left: -4px !important;
}

/* fixup rightmost btn in btn-group to attach to input on right
  needed when dropdown in btn-group because menu is a child
  so may not select correctly with .btn-group-right
*/
.btn-rightmost { 
  border-top-right-radius: 0px !important; 
  border-bottom-right-radius: 0px !important; 
  border-right: 0px !important;
  margin-right: -4px !important;
}

/* fixup leftmost btn in btn-group to attach to input on left
  needed when dropdown in btn-group because menu is a child so can select
  with .btn-group-left
*/
.btn-leftmost { 
  border-top-left-radius: 0px !important; 
  border-bottom-left-radius: 0px !important; 
  border-left: 0px !important;
  margin-left: -4px !important;
}

.input-rightend {
  border-top-right-radius: 4px !important; 
  border-bottom-right-radius: 4px !important; 
}

.input-leftend {
  border-top-left-radius: 4px !important; 
  border-bottom-left-radius: 4px !important; 
}

.leftmost { 
  border-top-right-radius: 0px !important; 
  border-bottom-right-radius: 0px !important; 
}

.rightmost { 
  border-top-left-radius: 0px !important; 
  border-bottom-left-radius: 0px !important; 
}

.tight {
  margin-top: 0px;
  margin-bottom: 0px;
}

.tight-all {
  margin: 0px;
}

.taut {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.taut-all {
    padding: 0px !important;
}

.slack {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.wide {
    padding: 6px 4px;
}

.skinniest{
  width: 75px !important;
}

.skinnier {
  width: 100px !important;
}

.skinny {
  width: 125px !important;
}

.skinnish {
  width: 150px !important;
}

.fatish {
  width: 175px !important;
}

.fat {
  width: 200px !important;
}

.fatter {
  width: 225px !important;
}

.fattest {
  width: 250px !important;
}


.larger-font-size {
  font-size: larger;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

kvl {
  padding: 0;
  margin: 0px 0 10px 0px;
  display: block;
}

kvl.indent {
  margin-left: 12px;
}

kvi {
  line-height: 20px;
  display: block;
}

kvi.key {
  font-weight: bold;
  font-style: italic;
}

kvi.val {
  font-weight: normal;
  font-style: normal;
}



n {
  font-weight: normal;
  display: inline;
}



.animate-fade.ng-hide-add, 
.animate-fade.ng-hide-remove {
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
  display: block !important;
}

.animate-fade.ng-hide-add, /* starting animation for show */
.animate-fade.ng-hide-remove.ng-hide-remove-active { /* terminal animation for hide */
  opacity: 1;
}

.animate-fade.ng-hide-remove, /* starting animation for hide */
.animate-fade.ng-hide-add.ng-hide-add-active { /* terminal animation for show */
  opacity: 0;
}


.form.tight {
    margin: 0px;
    padding: 0px;
}

.monitor {
  margin: 5px 0px 0px 0px;
}

.nook {
  border: 1px solid #888;
  border-radius: 2px;
  padding: 2px 4px;
}

.box { 
  border: 1px solid #888;
  border-radius: 4px;
  padding: 3px 4px;
  margin: 0px 0px 0px 0px;
}

.box.box-top {
  margin-bottom: -1px;
}

.box.box-no-border {
  border: 0px solid #888;
}

.box.box-title-bar {
  background: #eee;
  padding: 0px 0px;
  margin: 4px 0px -1px 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  
}

.flat-bottom {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.flat-top {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}



.top-border {
    border-top: 1px solid #888;
    margin-top: 5px;
    
}
.bottom-border {
    border-bottom: 1px solid #888;
    margin-bottom: 5px;
}

.slat { 
  border: 1px solid #888; 
  border-radius: 3px;
  margin: 3px 0px 0px 0px;
  background: #fafafa;
}

.slat-head { 
  padding: 4px 5px;
} 

.slat-body { 
  border-top-style: solid;
  border-width: 1px;
  border-color: #ccc; 
  padding: 4px 5px;
  /*overflow: auto;*/
}

  
.icon-mono {
    display: inline-block;
    width: 12px;
    text-align: center
    line-height: inherit;
    vertical-align: middle;
}

.filter-active {background: #ccc}


/* badge colors */

.badge-gray {background-color: gray;}
.badge-white {background-color: white;}
.badge-black {background-color: black;}
.badge-primary { background-color: #428bca;}
.badge-blue, .badge-info { background-color: #5bc0de;}
.badge-green, .badge-success {background-color: #5cb85c;}
.badge-red, .badge-danger { background-color: #d9534f; }
.badge-orange, .badge-warning { background-color: #f0ad4e; }
.badge-purple { background-color: purple; }
.badge-yellow { background-color: yellow; }

/* extra icon colors for font icons */
.icon-white {color: white;}
.icon-blue { color: blue;}
.icon-green {color: green;}
.icon-red { color: red; }
.icon-black {color: black;}
.icon-gray {color: gray;}

/* Additional sizes for bootstrap labels and badges not in default bootstrap*/
.label-mini,
.badge-mini {
  font-size: 11px;
  font-weight: bold;
}
.label-mini {
  padding: 1px 3px 2px;
}
.badge-mini {
  padding: 1px 8px 2px;
}
.label-small,
.badge-small {
  font-size: 11px;
  font-weight: bold;
}
.label-small {
  padding: 2px 8px 4px;
}
.badge-small {
  padding: 2px 13px 4px;
}
.label-big,
.badge-big {
  font-size: 12px;
  font-weight: bold;
}
.label-big {
  padding: 5px 10px 6px;
}
.badge-big {
  padding: 5px 15px 6px;
  -webkit-border-radius: 14px 14px 14px 14px;
  -moz-border-radius: 14px 14px 14px 14px;
  border-radius: 14px 14px 14px 14px;
}
.label-ultra,
.badge-ultra {
  font-size: 14px;
  font-weight: bold;
}
.label-ultra {
  padding: 8px 14px 9px;
}
.badge-ultra {
  padding: 8px 19px 9px;
  -webkit-border-radius: 18px 18px 18px 18px;
  -moz-border-radius: 18px 18px 18px 18px;
  border-radius: 18px 18px 18px 18px;
}

